.container {
  background-color: #ffffff;
  box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1),
    0rem 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.06);
  margin-top: 15px;
}
.MuiDataGrid-columnHeaderTitle {
  color: #344767;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem !important;
}
.MuiDataGrid-cellContent {
  color: #7b809a;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.tabletitle {
  color: #344767 !important;
  margin-top: 20px !important;
}
