.MuiButton-root{
    color:#FFFFFF !important;
    color:#000000 !important;
}
.MuiButtonGroup-root{
    border-radius: 12px !important;
    border: 1px solid #1A73E8;
}
.selected{
    background-color: #1A73E8 !important;
    color:#FFFFFF !important;
}
.notselected{
    background-color: transparent !important;
    color:#000000;
}