.MuiButton-root {
    color: #000000 !important;
    display: block;
}

.MuiButtonGroup-root {
    border-radius: 12px !important;
    border: 1px solid #1A73E8;
}

.selected {
    background-color: #1A73E8 !important;
    color: #FFFFFF !important;
    font-size: 1;
}

.notselected {
    background-color: transparent !important;
    color: #000000;
}

.mdbox {
    cursor: pointer;
}

.withdrawals {
    margin-top: 20px;
}

.matcheslist {
    max-height: 1125px;
}